<% if (tasks.length === 0) { %>
    <h3 class="no-tasks">There are no tasks.</h3>
<% } else { %>
    <ul class="list">
        <% tasks.forEach(function(task) { %>
            <li class="list__item">
                <div class="checkbox"></div>
                <span class="list__item-text"><%= task %></span>
            </li>
        <% }); %>
    </ul>
<% } %>


<!-- <%- include('./partials/_taskList') %> bunu index ejsde bu kodlarin yerine yapisdir -->
